<div>
    <form>
        <table>
            <tr><td>Common name:</td>
            <td><input type="text" [(ngModel)]="certificateDto.givenName" name="commonname"></td></tr>
            <tr><td>Organization:</td>
            <td><input type="text" [(ngModel)]="certificateDto.organization" name="organization"></td></tr>
            <tr><td>Email:</td>
            <td><input type="text" [(ngModel)]="certificateDto.email" name="email"></td></tr>
            <tr><td>Country:</td>
            <td><input type="text" [(ngModel)]="certificateDto.country" name="country"></td></tr>
            <tr><td>Start date:</td>
            <td><input type="date" [(ngModel)]="certificateDto.startDate" name="startDate"></td></tr>
            <tr><td>End date:</td>
            <td><input type="date" [(ngModel)]="certificateDto.endDate" name="endDate"></td></tr>
            <tr><td>Certificate Authorty:</td>
            <td><input type="checkbox" [(ngModel)]="certificateDto.isCA" name="isCA"></td></tr>
            <tr><td></td>
            <td><input type="submit" (click)="sendRequest()"></td></tr>
        </table>
    </form>
</div>
